:root {
    --color-bg: #080C08;
    --color-bg-secondary: #0A0F0A;
    --color-bg-card: #111E11;
    --color-bg-active: #2D5A2D;
    --color-accent: #22C55E;
    --color-negative: #EF4444;
    --color-info: #3B82F6;
    --color-text: #fafafa;
    --color-text-muted: #6B7280;
    --color-text-secondary: #68AD8A;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.app {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 1px solid var(--color-bg-card);
}

.logo-sidebar {
    padding: 20px;
    border-bottom: 1px solid var(--color-bg-card);

}

.logo-sidebar h1 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 5px;

}

.logo-sidebar span {
    color: var(--color-accent);
}

.logo-sidebar p {
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--color-bg-active);
    font-weight: 500;
}

.sidebar-nav {
    padding: 20px;   
    flex: 1;
}

.nav-group-label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--color-bg-active);
    padding-bottom: 10px;
}

.nav-group ul {
    list-style: none;
    padding-bottom: 10px;
}

.nav-group li {
    padding-bottom: 10px;
}

.nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--color-bg-active);
    font-size: 13px;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: var(--color-accent);
    background-color: var(--color-bg-card);
}

.footer-sidebar {
    text-align: center;
    padding: 30px;
    font-size: 12px;
    letter-spacing: 1px;
    border-top: 1px solid var(--color-bg-card);
    color: var(--color-bg-active);
}

.hidden {
    display: none !important;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.modal-container form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg-active);
    padding: 24px;
    border-radius: 10px;
    gap: 12px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-label, label, .type-label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--color-accent);
}

input {
    width: 100%;
    padding: 10px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-bg-active);
    border-radius: 10px;
    color: var(--color-text);
}

.modal-title {
    margin-bottom: 20px;
}

#close-modal {
    padding: 5px 10px;
    border-radius: 20%;
    border: 1px solid var(--color-bg-active);
    background-color: var(--color-bg-card);
    color: var(--color-accent);
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#close-modal:hover {
    transform: scale(1.05);
}

.type-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.type-btn {
    padding: 10px;
    background-color: var(--color-bg-secondary);
    border: 2px solid var(--color-bg-active);
    border-radius: 10px;
    color: var(--color-accent);
    transition: background-color 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.type-btn:hover {
    background-color: var(--color-bg-active);
    border: 2px solid var(--color-accent);
}

.type-btn.active {
    background-color: var(--color-accent);
    color: var(--color-bg-secondary);
}

#category {
    width: 100%;
    padding: 10px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-bg-active);
    border-radius: 10px;
    color: var(--color-accent);
}

#categories-list li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.categories-description span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.categories-description {
    font-size: 12px;
    color: var(--color-text-secondary);
}

.categories-value {
    font-size: 12px;
}

#categories-chart {
    padding-top: 10px;
}

.categories-empty {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#date, #save-transaction {
    color: var(--color-accent);
}

#date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#save-transaction {
    background-color: var(--color-accent);
    color: var(--color-bg);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 13px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#save-transaction:hover {
    transform: scale(1.05)
}

.dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.balance {
    grid-column: 1;
}

.categories {
    grid-column: 2;
    grid-row: 1 / 3;
    border-left: 1px solid var(--color-bg-card);
}

.summary {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.income-value,
.expenses-value,
.savings-value {
    font-size: 35px;
}

.income-value {
    color: var(--color-accent);
}

.expenses-value {
    color: var(--color-negative);
}



.transactions {
    grid-column: 1 / 3;
}

.balance,
.categories,
.summary,
.transactions {
    padding: 24px;
    border-bottom: 1px solid var(--color-bg-card);
}

.section-label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--color-bg-active);
    padding-bottom: 15px;
}

#balance-amount {
    display: block;
    font-size: 40px;
    font-weight: lighter;
}

.updated-balance, 
.expenses-transactions, 
.income-previous,
.updated-savings {
    font-size: 12px;
    color: var(--color-bg-active);
    padding-top: 15px;
}

.transactions-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#new-transaction {
    background-color: var(--color-accent);
    color: var(--color-bg);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 9px 15px;
    border-radius: 10px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#transactions-list {
    list-style: none;
    padding-top: 30px;
}

#transactions-list li {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    border-bottom: 1px solid var(--color-bg-card);
}

.transaction-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 15px;
}

.transaction-title {
    font-size: 14px;
    color: var(--color-text);
    font-weight: 400;
}

.transaction-info {
    font-size: 12px;
    color: var(--color-bg-active);
}

.transaction-amount {
    font-size: 14px;
}

.amount-income {
    color: var(--color-accent);
}

.amount-expense {
    color: var(--color-negative);
}

.btn-delete {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 9px;
    color: var(--color-accent);
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-bg-active);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-delete:hover {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.transaction-icon {
    background-color: var(--color-bg-card);
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px; 
}